contenedor{
    display:flex;
    align-items: center;
    justify-content: center;
}

button {
    display:inline-flex;
    width: 70px;
    align-items:center;
    justify-content: center;
    transition: .3s ease all;
}